# Lab Assignment 6: Creating and Connecting to Databases
## DS 6001: Practice and Application of Data Science

### Instructions
Please answer the following questions as completely as possible using text, code, and the results of code as needed. Format your answers in a Jupyter notebook. To receive full credit, make sure you address every part of the problem, and make sure your document is formatted in a clean and professional way.

**Please note: you will not be able to use Rivanna for this lab as Rivanna is not set up to work with Docker or with Databases. If you need help getting your local system running, please let me know.**

### Problem 0 [No points, no need to write anything here for any of the following parts, but do it anyway!]
Databases require a lot of external software. The good news is that there are excellent free and open source options to do very advanced work with databases. The bad news is that each piece of additional software comes with its own complications. This problem will guide you through the installation steps for the software you need to run database systems on your computer, document those databases, and connect to them through Python with (fingers crossed) as few problems as possible.

#### Part a
Use `pip` to install the following Python packages on your system:
```
mysql-connector-python
psycopg
pymongo
sqlalchemy
wget
```

#### Part b
With the exception of SQlite, database systems run as external software that must be installed and run on your computer. To make the installation steps easier, you will need some configuration files that I wrote and saved in a GitHub repository. Open your terminal and use the `cd` command to navigate to the folder in your computer where you want to work. Then type
```
git clone https://github.com/jkropko/ds6001databases
```
If this command works, it will create a new directory within your current folder called "ds6001databases".

* Check that this folder exists and contains the following files: LICENSE, README.md, compose.yaml, db_tests.ipynb, and requirements.txt
* Save the notebook file you will be using for your Lab 6 work inside the "ds6001databases" folder

#### Part c
We will be using a system called Docker to work with databases. Docker is the most commonly used platform for working with **containers**. While we will not be delving into the topic of containerization in this course, a container is space in your computer's memory that is set apart from the rest of your computer. We can act as if the container is an entirely new computer, and inside the container we can change the operating system and install other software external to Python, such as database management systems. We can use a container to run Windows on a Mac, or vice versa, or Linux on any system. By far the easiest way to run MySQL, PostgreSQL, and MongoDB is through Docker containers. 

You will need to install Docker Desktop on your computer. Go to https://www.docker.com/products/docker-desktop/ and click on the Download button, making sure the operating system listed matches the operating system of your computer.

Once Docker Desktop is installed, find the Docker Desktop program on your computer and run it.

To confirm that Docker Desktop is running, open a terminal and type `docker help`. If you see documentation that begins
```
Usage:  docker [OPTIONS] COMMAND

A self-sufficient runtime for containers
```
then you are all set. If you see an error that Docker is not found, then the Docker Desktop client was not installed properly, so you should try downloading and installing it from the website again. If you receive a message that the Docker daemon is not running, then Docker is installed but is not running. Find the Docker Desktop executable on your computer and click it to get Docker running.

#### Part d
Inside your "ds6001databases" folder, create a .env file. On a Mac, type `touch .env` then `open .env` to create and open the file. On Windows, open a new file on Notepad and go to "Save As", then save it in your "ds6001databases" folder -- make sure to set "File As Type" to "All files" and name the file ".env".

Inside the .env file you need to choose passwords for the MySQL, PostgreSQL, and MongoDB databases, so type
```
MYSQL_ROOT_PASSWORD=redlobstercheddarbiscuits
POSTGRES_PASSWORD=outbackbloominonion
MONGO_INITDB_ROOT_PASSWORD=olivegardenunlimitedbreadsticks
MONGO_INITDB_ROOT_USERNAME=mongo
mongo_init_db = mongodb
MYSQL_DATABASE=mysql
```
Change the passwords on the first three lines to whatever you want, but DON'T USE THE @ SYMBOL as that will cause problems. Leave the fourth, fifth, and sixth lines alone, as well as the names of each environmental variable.

#### Part e
In the terminal, make sure you are in the "ds6001databases" folder (you can check by typing `pwd`. If not, then use `cd` to navigate to the "ds6001databases" folder). Then type
```
docker compose up
```
This command launches all of the databases. If successful, you will see a long stream of output with messages that begin `ds6001databases-postgres-1`, `ds6001databases-mysql-1`, and `ds6001databases-mongo-1`. If not, we will need to debug together, but the issue likely has to do with something preventing parts a, b, c, or d from being completed successfully.

#### Part f
To confirm that the databases are running on your system, open the "db_tests.ipynb" notebook file, which should be saved in you "ds6001databases" folder. Run everything in this notebook and make sure there are no errors.

#### Part g
In addition to the databases, we will be using dbdocs.io to create documentation for our databases and post them online with a stable URL. But to get dbdocs running, you first need to install NodeJS on your computer: https://nodejs.org/en

Then to install dbdocs, follow the instructions here: https://dbdocs.io/docs

#### Part h
Finally, create a notebook inside your "ds6001databases" folder for your work on this lab. Import the following libraries, and load the `.env` file where you store your passwords.

In [3]:
import numpy as np
import pandas as pd
import wget
import sqlite3
import sqlalchemy
import requests
import json
import os
import sys
import dotenv
import mysql.connector
import psycopg
import pymongo
from sqlalchemy import create_engine


dotenv.load_dotenv()
POSTGRES_PASSWORD = os.getenv('POSTGRES_PASSWORD')
MONGO_INITDB_ROOT_USERNAME = os.getenv('MONGO_INITDB_ROOT_USERNAME')
MONGO_INITDB_ROOT_PASSWORD = os.getenv('MONGO_INITDB_ROOT_PASSWORD')
mongo_init_db = os.getenv('mongo_init_db')
MYSQL_ROOT_PASSWORD = os.getenv('MYSQL_ROOT_PASSWORD')

### Problem 1 
**This problem requires you to create Markdown tables** 

To create a table in a markdown cell, I recommend using the markdown table generator here: https://www.tablesgenerator.com/markdown_tables. This interface allows you to choose the number of rows and columns, fill in those rows and colums, and push the "generate" button. The website will display markdown table code that looks like:
```
| Day       | Temp | Rain |
|-----------|------|------|
| Monday    | 74   | No   |
| Tuesday   | 58   | Yes  |
| Wednesday | 76   | No   |
```
Copy the markdown code and paste it into a markdown cell in your notebook. Markdown will read the code and display a table that looks like this:

| Day       | Temp | Rain |
|-----------|------|------|
| Monday    | 74   | No   |
| Tuesday   | 58   | Yes  |
| Wednesday | 76   | No   |

Suppose that we have (fake) data on people who were hospitalized and received at least one prescription for a medication. Here are ten records in the data:

(If this table gets cut off in the PDF, please look at the .ipynb notebook file on the module 6 page on Canvas)

| patient_name       | date_of_birth | prescribed_drug | prior_conditions                     | patient_sex | patient_insurance      | drug_maker               | drug_cost | attending_physician | AP_medschool                      | AP_years_experience | hospital                       | hospital_location |
|--------------------|---------------|-----------------|--------------------------------------|-------------|------------------------|--------------------------|-----------|---------------------|-----------------------------------|--------------------|--------------------------------|-------------------|
| Nkemdilim Arendonk | 2/21/1962     | Amoxil          | [Pneumonia, Diabetes]                | M           | Aetna                  | USAntibiotics            | 14.62     | Earnest Caro        | University of California (Irvine) | 14                 | UPMC Presbyterian Shadyside    | Pittsburgh, PA    |
| Nkemdilim Arendonk | 2/21/1962     | Micronase       | [Pneumonia, Diabetes]                | M           | Aetna                  | Pfizer                   | 20.55     | Earnest Caro        | University of California (Irvine) | 14                 | UPMC Presbyterian Shadyside    | Pittsburgh, PA    |
| Raniero Coumans    | 8/15/1990     | Zosyn           | [Appendicitis, Crohn's disease]      | M           | Cigna                  | Baxter International Inc | 394.00    | Pamela English      | University of Michigan            | 29                 | Northwestern Memorial Hospital | Chicago, IL       |
| Raniero Coumans    | 8/15/1990     | Humira          | [Appendicitis, Crohn's disease]      | M           | Cigna                  | Abbvie                   | 7000.00   | Pamela English      | University of Michigan            | 29                 | Northwestern Memorial Hospital | Chicago, IL       |
| Mizuki Debenham    | 3/12/1977     | Inlyta          | [Kidney Cancer]                      | F           | Kaiser Permanente      | Pfizer                   | 21644.00  | Lewis Conti         | North Carolina State University   | 8                  | Houston Methodist Hospital     | Houston, TX       |
| Zoë De Witt        | 11/23/1947    | Atenolol        | [Cardiomyopathy, Diabetes, Sciatica] | F           | Medicare               | Mylan Pharmaceuticals    | 10.58     | Theresa Dahlmans    | Lake Erie College of Medicine     | 17                 | Mount Sinai Hospital           | New York, NY      |
| Zoë De Witt        | 11/23/1947    | Micronase       | [Cardiomyopathy, Diabetes, Sciatica] | F           | Medicare               | Pfizer                   | 20.55     | Theresa Dahlmans    | Lake Erie College of Medicine     | 17                 | Mount Sinai Hospital           | New York, NY      |
| Zoë De Witt        | 11/23/1947    | Demerol         | [Cardiomyopathy, Diabetes, Sciatica] | F           | Medicare               | Pfizer                   | 37.50     | Theresa Dahlmans    | Lake Erie College of Medicine     | 17                 | Mount Sinai Hospital           | New York, NY      |
| Bonnie Hooper      | 7/4/1951      | Xeloda          | [Pancreatic Cancer, Sciatica]        | F           | Blue Cross Blue Shield | Genentech                | 860.00    | Steven Garbutt      | Ohio State University             | 36                 | UCSF Medical Center            | San Francisco, CA |
| Bonnie Hooper      | 7/4/1951      | Demerol         | [Pancreatic Cancer, Sciatica]        | F           | Blue Cross Blue Shield | Pfizer                   | 37.50     | Steven Garbutt      | Ohio State University             | 36                 | UCSF Medical Center            | San Francisco, CA |

The columns in this dataset are:

* **patient_name**: The patient's name
* **date_of_birth**: The patient's date of birth
* **prescribed_drug**: The brand name of the medication that patient has been prescribed
* **prior_conditions**: A list of the conditions that the patient had been diagnosed with prior to the patient's hospitalization
* **patient_sex**: The patient's sex
* **patient_insurance**: The company responsible for the patient's health insurance coverage
* **drug_maker**: The company that manufactures the prescribed drug
* **drug_cost**: The cost of the prescribed drug
* **attending_physician**: The name of the attending physician for the patient
* **AP_medschool**: The name of the school where the attending physician got a medical degree
* **AP_years_experience**: The attending physician's number of years of experience post-residency
* **hospital**: The hospital where the attending physicial is employed
* **hospital_location**: The location of the hospital

For this problem, assume that 

1. No two rows in this table share both the same patient and the same prescribed drug.
   
2. Some patients in the data share the same name, but no two patients in the data share the same name and date of birth.

3. No two different drugs share the same brand name.

4. No two attending physicians have the same name, and every attending physician is employed at only one hospital.

5. No two hospitals share the same name, and every hospital exists at only one location.
   
6. Each patient has only one attending physician. (In real-world applications we may want to design a database that allows for multiple hospitalizations for some patients, but here we'll keep it simpler by assuming each patient has one hospitalization with one attending physician.)

| Day       | Temp | Rain |
|-----------|------|------|
| Monday    | 74   | No   |
| Tuesday   | 58   | Yes  |
| Wednesday | 76   | No   |
```

#### Part a 
Rearrange the data into a group of data tables that together meet the requirements of first normal form. [2 points]

|   | patient_name       | date_of_birth | prescribed_drug | patient_sex | patient_insurance      | drug_maker               | drug_cost | attending_physician | AP_medschool                      | AP_years_experience | hospital                       | hospital_location |   |
|---|--------------------|---------------|-----------------|-------------|------------------------|--------------------------|-----------|---------------------|-----------------------------------|---------------------|--------------------------------|-------------------|---|
|   | Nkemdilim Arendonk | 2/21/1962     | Amoxil          | M           | Aetna                  | USAntibiotics            | 14.62     | Earnest Caro        | University of California (Irvine) | 14                  | UPMC Presbyterian Shadyside    | Pittsburgh, PA    |   |
|   | Nkemdilim Arendonk | 2/21/1962     | Micronase       | M           | Aetna                  | Pfizer                   | 20.55     | Earnest Caro        | University of California (Irvine) | 14                  | UPMC Presbyterian Shadyside    | Pittsburgh, PA    |   |
|   | Raniero Coumans    | 8/15/1990     | Zosyn           | M           | Cigna                  | Baxter International Inc | 394.00    | Pamela English      | University of Michigan            | 29                  | Northwestern Memorial Hospital | Chicago, IL       |   |
|   | Raniero Coumans    | 8/15/1990     | Humira          | M           | Cigna                  | Abbvie                   | 7000.00   | Pamela English      | University of Michigan            | 29                  | Northwestern Memorial Hospital | Chicago, IL       |   |
|   | Mizuki Debenham    | 3/12/1977     | Inlyta          | F           | Kaiser Permanente      | Pfizer                   | 21644.00  | Lewis Conti         | North Carolina State University   | 8                   | Houston Methodist Hospital     | Houston, TX       |   |
|   | Zoë De Witt        | 11/23/1947    | Atenolol        | F           | Medicare               | Mylan Pharmaceuticals    | 10.58     | Theresa Dahlmans    | Lake Erie College of Medicine     | 17                  | Mount Sinai Hospital           | New York, NY      |   |
|   | Zoë De Witt        | 11/23/1947    | Micronase       | F           | Medicare               | Pfizer                   | 20.55     | Theresa Dahlmans    | Lake Erie College of Medicine     | 17                  | Mount Sinai Hospital           | New York, NY      |   |
|   | Zoë De Witt        | 11/23/1947    | Demerol         | F           | Medicare               | Pfizer                   | 37.50     | Theresa Dahlmans    | Lake Erie College of Medicine     | 17                  | Mount Sinai Hospital           | New York, NY      |   |
|   | Bonnie Hooper      | 7/4/1951      | Xeloda          | F           | Blue Cross Blue Shield | Genentech                | 860.00    | Steven Garbutt      | Ohio State University             | 36                  | UCSF Medical Center            | San Francisco, CA |   |
|   | Bonnie Hooper      | 7/4/1951      | Demerol         | F           | Blue Cross Blue Shield | Pfizer                   | 37.50     | Steven Garbutt      | Ohio State University             | 36                  | UCSF Medical Center            | San Francisco, CA |   |

| patient_name       | date_of_birth | prior_conditions  |
|--------------------|---------------|-------------------|
| Nkemdilim Arendonk | 2/21/1962     | Pneumonia         |
| Nkemdilim Arendonk | 2/21/1962     | Diabetes          |
| Raniero Coumans    | 8/15/1990     | Appendicitis      |
| Raniero Coumans    | 8/15/1990     | Crohn's disease  |
| Mizuki Debenham    | 3/12/1977     | Kidney Cancer  |
| Zoë De Witt        | 11/23/1947    | Cardiomyopathy    |
| Zoë De Witt        | 11/23/1947    | Diabetes          |
| Zoë De Witt        | 11/23/1947    | Sciatica          |
| Bonnie Hooper      | 7/4/1951      | Pancreatic Cancer |
| Bonnie Hooper      | 7/4/1951      | Sciatica          |

#### Part b 
Rearrange the data on the five patients into a group of data tables that together meet the requirements of second normal form. [2 points]

| patient_name       | date_of_birth | prescribed_drug | AP_medschool                      | AP_years_experience | hospital                       | hospital_location |
|--------------------|---------------|-----------------|-----------------------------------|---------------------|--------------------------------|-------------------|
| Nkemdilim Arendonk | 2/21/1962     | Amoxil          | University of California (Irvine) | 14                  | UPMC Presbyterian Shadyside    | Pittsburgh, PA    |
| Nkemdilim Arendonk | 2/21/1962     | Micronase       | University of California (Irvine) | 14                  | UPMC Presbyterian Shadyside    | Pittsburgh, PA    |
| Raniero Coumans    | 8/15/1990     | Zosyn           | University of Michigan            | 29                  | Northwestern Memorial Hospital | Chicago, IL       |
| Raniero Coumans    | 8/15/1990     | Humira          | University of Michigan            | 29                  | Northwestern Memorial Hospital | Chicago, IL       |
| Mizuki Debenham    | 3/12/1977     | Inlyta          | North Carolina State University   | 8                   | Houston Methodist Hospital     | Houston, TX       |
| Zoë De Witt        | 11/23/1947    | Atenolol        | Lake Erie College of Medicine     | 17                  |  Mount Sinai Hospital           | New York, NY      |
| Zoë De Witt        | 11/23/1947    | Micronase       | Lake Erie College of Medicine     | 17                  | Mount Sinai Hospital           | New York, NY      |
| Zoë De Witt        | 11/23/1947    | Demerol         | Lake Erie College of Medicine     | 17                  | Mount Sinai Hospital           | New York, NY      |
| Bonnie Hooper      | 7/4/1951      | Xeloda          | Ohio State University             | 36                  | UCSF Medical Center            | San Francisco, CA |
| Bonnie Hooper      | 7/4/1951      | Demerol         | Ohio State University             | 36                  | UCSF Medical Center            | San Francisco, CA |

| patient_name       | date_of_birth | patient_sex | patient_insurance      | attending_physician  |
|--------------------|---------------|-------------|------------------------|--------------------- |
| Nkemdilim Arendonk | 2/21/1962     | M           | Aetna                  | Earnest Caro         |
| Raniero Coumans    | 8/15/1990     | M           | Cigna                  | Pamela English       |
| Mizuki Debenham    | 3/12/1977     | F           | Kaiser Permanente      | Lewis Conti          |
| Zoë De Witt        | 11/23/1947    | F           | Medicare               | Theresa Dahlmans     |
| Bonnie Hooper      | 7/4/1951      | F           | Blue Cross Blue Shield | Steven Garbutt       |

| prescribed_drug | drug_maker               | drug_cost |
|-----------------|--------------------------|-----------|
| Amoxil          | USAntibiotics            | 14.62     |
| Micronase       | Pfizer                   | 20.55     |
| Zosyn           | Baxter International Inc | 394.00    |
| Humira          | Abbvie                   | 7000.00   |
| Inlyta          | Pfizer                   | 21644.00  |
| Atenolol        | Mylan Pharmaceuticals    | 10.58     |
| Micronase       | Pfizer                   | 20.55     |
| Demerol         | Pfizer                   | 37.50     |
| Xeloda          | Genentech                | 860.00    |

#### Part c 
Rearrange the data into a group of data tables that together meet the requirements of third normal form. [2 points]

| attending_physician | AP_medschool                      | AP_years_experience | Hospital  |
|---------------------|-----------------------------------|---------------------|---------- |
| Earnest Caro        | University of California (Irvine) | 14                  |UPMC Presbyterian Shadyside |
| Pamela English      | University of Michigan            | 29                  |Northwestern Memorial Hospital |
| Lewis Conti         | North Carolina State University   | 8                   |Houston Methodist Hospital |
| Theresa Dahlmans    | Lake Erie College of Medicine     | 17                  |Mount Sinai Hospital |
| Steven Garbutt      | Ohio State University             | 36                  |UCSF Medical Center |

| hospital                       | hospital_location |
|--------------------------------|-------------------|
| UPMC Presbyterian Shadyside    | Pittsburgh, PA    |
| Northwestern Memorial Hospital | Chicago, IL       |
| Houston Methodist Hospital     | Houston, TX       |
| Mount Sinai Hospital           | New York, NY      |
| UCSF Medical Center            | San Francisco, CA |

| patient_name       | date_of_birth | prescribed_drug |
|--------------------|---------------|-----------------|
| Nkemdilim Arendonk | 2/21/1962     | Micronase       |
| Raniero Coumans    | 8/15/1990     | Humira          |
| Mizuki Debenham    | 3/12/1977     | Inlyta          |
| Zoë De Witt        | 11/23/1947    | Demerol         |
| Bonnie Hooper      | 7/4/1951      | Xeloda          |

### Problem 2
For this problem, create ER diagrams of the database you created in problem 1, part c using https://dbdocs.io/. Make sure you install DBDocs on your system by following these instructions: https://dbdocs.io/docs

#### Part a 
Write code using the [database markup language](https://dbml.dbdiagram.io/home/) (DBML) that represents all of the tables in this database and the connections between the tables. Paste your DBML code in a markdown cell in your notebook, contained within three backticks to begin and end the code snippet, as shown in the cell below. 

Two good resources to help you:

1. The example on the Getting Started page on dbdocs.io: https://dbdocs.io/docs
2. The full syntax guide for DBML: https://dbml.dbdiagram.io/docs/#project-definition

A few notes:
* Make sure to specify the data type for each column in each table. Use varchar for strings/text, int for integers, and float for numeric data with decimals.
* You will probably find it useful to alias each table with one or two letters, such as: Table PRESCRIPTIONS as PR. That will allow you to use PR to refer to the PRESCRIPTIONS table, for example, in the Reference statements to link tables together.
* Use the syntax [pk] after a column name and data type to designate the columns that are primary keys in each table.
* To draw the lines linking one table to another, use the Ref: syntax.
    * If many rows from the left table match to one row in the right table, use the "many to one" symbol >
    * If one row from the left table matches to many rows in the right table, use the "one to many" symbol <
    * If one row from the left table matches to one row in the right table, use the "one to one" symbol -
    * If many rows from the left table match to many rows in the right table, use the "many to many" symbol <>
      
[2 points]

```
Project Lab06 {
  database_type: 'PostgreSQL'
 
}


Table Prescriptions as PR {
  patient_name varchar [pk]
  date_of_birth varchar [pk]
  prescribed_drug varchar [pk]

}
Table Patients {
  patient_name varchar [pk]
  date_of_birth varchar [pk]
  patient_sex varchar 
  patient_insurance varchar
  attending_physician varchar
}
Table Diagnosis {
  patient_name varchar [pk]
  date_of_birth varchar [pk]
  prior_condition varchar [pk]
}
Table Drugs {
  prescribed_drug varchar [pk]
  drug_maker varchar    
  cost int 
}
Table Physicians {
  attending_physician varchar [pk]
  ap_med_school varchar
  ap_years_experience varchar
  hospital varchar
}

Table Hospitals {
  hospital varchar [pk]
  hospital_location varchar 

}

Ref: Prescriptions.patient_name > Patients.patient_name
Ref: Prescriptions.date_of_birth > Patients.date_of_birth
Ref: Prescriptions.prescribed_drug > Patients.patient_sex
Ref: Patients.patient_name < Diagnosis.patient_name
Ref: Patients.date_of_birth < Diagnosis.date_of_birth
Ref: Patients.patient_sex > Diagnosis.patient_name
Ref: Diagnosis.patient_name - Drugs.prescribed_drug
Ref: Physicians.attending_physician < Patients.attending_physician
Ref: Physicians.hospital > Hospitals.hospital
```

### Part b
Use the instructions on DBDocs.io (https://dbdocs.io/docs) to create a website for your ER diagram. Type the URL for your website in a markdown cell here. [1 point]

Website Link: https://dbdocs.io/rs7aq/Lab06

### Problem 3
For this problem, you will download the individual CSV files that comprise a relational database on album reviews from [Pitchfork Magazine](https://pitchfork.com/), collected via webscraping by [Nolan B. Conaway](https://github.com/nolanbconaway/pitchfork-data), and use them to initialize local databases using SQlite, MySQL, and PostgreSQL.

The following code of code will download the CSV files. Please run this as is:

In [4]:
url = "https://github.com/nolanbconaway/pitchfork-data/raw/master/pitchfork.db"
pfork = wget.download(url)
pitchfork = sqlite3.connect(pfork)
for t in ['artists','content','genres','labels','reviews','years']:
    datatable = pd.read_sql_query("SELECT * FROM {tab}".format(tab=t), pitchfork)
    datatable.to_csv("{tab}.csv".format(tab=t))

Note: this code downloaded a SQlite database and extracted the tables, saving each one as a CSV. That seems backwards, as the purpose of this exercise is to create databases. But the point here is to practice creating databases from individual data frames. Next we load the CSVs to create the data frames in Python:

In [5]:
reviews = pd.read_csv("reviews.csv")
artists = pd.read_csv("artists.csv")
content = pd.read_csv("content.csv")
genres = pd.read_csv("genres.csv")
labels = pd.read_csv("labels.csv")
years = pd.read_csv("years.csv")

#### Part a
Initialize a new database using SQlite and the `sqlite3` library. Add the six dataframes to this database. Then issue the following query to the database
```
SELECT title, artist, score FROM reviews WHERE score=10
```
using two methods: first, using the `.cursor()` method, and second using `pd.read_sql_query()`. Finally, commit your changes to the database and close the database. (If you get a warning about spaces in the column names, feel free to ignore it this time.) [2 points]

In [6]:
reviews_db = sqlite3.connect("reviews.db")

In [7]:
reviews.to_sql('reviews', reviews_db, index=False, chunksize=1000, if_exists='replace')
artists.to_sql('tasters', reviews_db, index=False, chunksize=1000, if_exists='replace')
content.to_sql('wineries', reviews_db, index=False, chunksize=1000, if_exists='replace')
genres.to_sql('genres', reviews_db, index=False, chunksize=1000, if_exists='replace')
labels.to_sql('lables', reviews_db, index=False, chunksize=1000, if_exists='replace')
years.to_sql('years', reviews_db, index=False, chunksize=1000, if_exists='replace')

19108

In [8]:
ab_reviews_cursor = reviews_db.cursor()

In [9]:
ab_reviews_cursor.execute("SELECT title, artist, score FROM reviews WHERE score=10")
reviews_df = ab_reviews_cursor.fetchall()
pd.DataFrame(reviews_df)

,0,1,2
0,metal box,public image ltd,10.0
1,blood on the tracks,bob dylan,10.0
2,another green world,brian eno,10.0
3,songs in the key of life,stevie wonder,10.0
4,in concert,nina simone,10.0
...,...,...,...
71,source tags and codes,...and you will know us by the trail of dead,10.0
72,the olatunji concert: the last live recording,john coltrane,10.0
73,kid a,radiohead,10.0
74,animals,pink floyd,10.0
75,i see a darkness,bonnie prince billy,10.0

In [10]:
reviews_df2 = pd.read_sql_query("SELECT title, artist, score FROM reviews WHERE score=10", reviews_db)
reviews_df2

,title,artist,score
0,metal box,public image ltd,10.0
1,blood on the tracks,bob dylan,10.0
2,another green world,brian eno,10.0
3,songs in the key of life,stevie wonder,10.0
4,in concert,nina simone,10.0
...,...,...,...
71,source tags and codes,...and you will know us by the trail of dead,10.0
72,the olatunji concert: the last live recording,john coltrane,10.0
73,kid a,radiohead,10.0
74,animals,pink floyd,10.0
75,i see a darkness,bonnie prince billy,10.0

In [11]:
reviews_db.commit()
reviews_db.close()

#### Part b
Follow the instructions in the Jupyter notebook for this module to install MySQL and `mysql.connector` on your computer. Make sure the MySQL server is running. Then import `mysql.connector` and do all of the tasks listed for part a using a MySQL database (including commiting changes and closing the database connection). Take steps to hide your password - do not let it display in your notebook. [3 points]

In [12]:
import mysql.connector

In [13]:
import dotenv
dotenv.load_dotenv()

MYSQL_ROOT_PASSWORD = os.getenv('MYSQL_ROOT_PASSWORD')

In [14]:
dbserver = mysql.connector.connect(
    user='root', 
    passwd=MYSQL_ROOT_PASSWORD, 
    host="localhost"
)

In [15]:
ab_reviews_cursor2 = dbserver.cursor()

In [16]:
try:
    ab_reviews_cursor2.execute("CREATE DATABASE reviewsdb2")
except:
    ab_reviews_cursor2.execute("DROP DATABASE reviewsdb2")
    ab_reviews_cursor2.execute("CREATE DATABASE reviewsdb2")

In [17]:
ab_reviews_cursor2.execute("SHOW DATABASES")
databases = ab_reviews_cursor2.fetchall()
databases

[('db',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('reviewsdb',),
 ('reviewsdb1',),
 ('reviewsdb2',),
 ('sys',)]

In [18]:
reviewsdb1 = mysql.connector.connect(
    user='root', 
    passwd=MYSQL_ROOT_PASSWORD, 
    host="localhost",
    database="reviewsdb1"
)

In [19]:
from sqlalchemy import create_engine

In [20]:
engine = create_engine("mysql+mysqlconnector://{user}:{pw}@localhost/{db}"
                       .format(user="root", pw=MYSQL_ROOT_PASSWORD, db="reviewsdb1"))

In [21]:
reviews.to_sql('reviews', con = engine, index=False, chunksize=1000, if_exists = 'replace')
artists.to_sql('artists', con = engine, index=False, chunksize=1000, if_exists = 'replace')
content.to_sql('content', con = engine, index=False, chunksize=1000, if_exists = 'replace')
genres.to_sql('genres', con = engine, index=False, chunksize=1000, if_exists = 'replace')
labels.to_sql('labels', con = engine, index=False, chunksize=1000, if_exists = 'replace')
years.to_sql('years', con = engine, index=False, chunksize=1000, if_exists = 'replace')

-20

In [22]:
ab_reviews_cursor2 = reviewsdb1.cursor()
ab_reviews_cursor2.execute("SELECT title, artist, score FROM reviews WHERE score=10")
reviews_df = ab_reviews_cursor2.fetchall()
pd.DataFrame(reviews_df)

,0,1,2
0,metal box,public image ltd,10.0
1,blood on the tracks,bob dylan,10.0
2,another green world,brian eno,10.0
3,songs in the key of life,stevie wonder,10.0
4,in concert,nina simone,10.0
...,...,...,...
71,source tags and codes,...and you will know us by the trail of dead,10.0
72,the olatunji concert: the last live recording,john coltrane,10.0
73,kid a,radiohead,10.0
74,animals,pink floyd,10.0
75,i see a darkness,bonnie prince billy,10.0

In [23]:
reviews_df2 = pd.read_sql_query("SELECT title, artist, score FROM reviews WHERE score=10", con=engine)
pd.DataFrame(reviews_df2)

,title,artist,score
0,metal box,public image ltd,10.0
1,blood on the tracks,bob dylan,10.0
2,another green world,brian eno,10.0
3,songs in the key of life,stevie wonder,10.0
4,in concert,nina simone,10.0
...,...,...,...
71,source tags and codes,...and you will know us by the trail of dead,10.0
72,the olatunji concert: the last live recording,john coltrane,10.0
73,kid a,radiohead,10.0
74,animals,pink floyd,10.0
75,i see a darkness,bonnie prince billy,10.0

In [24]:
dbserver.commit()
dbserver.close()

#### Part c
Follow the instructions in the Jupyter notebook for this module to install PostgreSQL and `psycopg2` on your computer. Then import `psycopg2` and do all of the tasks listed for part a using a PostgreSQL database (including commiting changes and closing the database connection). Take steps to hide your password - do not let it display in your notebook. [3 points]

In [25]:
import psycopg

In [26]:
dotenv.load_dotenv()
POSTGRES_PASSWORD = os.getenv('POSTGRES_PASSWORD')

In [27]:
dbserver = psycopg.connect(
    user='postgres', 
    password=POSTGRES_PASSWORD, 
    host="localhost",
    port = '5432'
)
dbserver.autocommit = True

In [28]:
ab_reviews_cursor3 = dbserver.cursor()

In [29]:
try:
    ab_reviews_cursor3.execute("CREATE DATABASE reviewsdb3")
except:
    ab_reviews_cursor3.execute("DROP DATABASE reviewsdb3")
    ab_reviews_cursor3.execute("CREATE DATABASE reviewsdb3")

In [30]:
reviewsdb3 = psycopg.connect(
    user='postgres', 
    password=POSTGRES_PASSWORD, 
    host="localhost",
    dbname="reviewsdb3",
    port = '5432'
)

In [31]:
engine = create_engine("postgresql+psycopg://{user}:{pw}@localhost/{db}"
                       .format(user="postgres", pw=POSTGRES_PASSWORD, db="reviewsdb3"))

In [32]:
reviews.to_sql('reviews', con = engine, index=False, chunksize=1000, if_exists = 'replace')
artists.to_sql('artists', con = engine, index=False, chunksize=1000, if_exists = 'replace')
content.to_sql('content', con = engine, index=False, chunksize=1000, if_exists = 'replace')
genres.to_sql('genres', con = engine, index=False, chunksize=1000, if_exists = 'replace')
labels.to_sql('labels', con = engine, index=False, chunksize=1000, if_exists = 'replace')
years.to_sql('years', con = engine, index=False, chunksize=1000, if_exists = 'replace')

-20

In [33]:
ab_reviews_cursor3 = reviewsdb3.cursor()
ab_reviews_cursor3.execute("SELECT title, artist, score FROM reviews WHERE score=10")
reviews_df = ab_reviews_cursor3.fetchall()
pd.DataFrame(reviews_df)

,0,1,2
0,metal box,public image ltd,10.0
1,blood on the tracks,bob dylan,10.0
2,another green world,brian eno,10.0
3,songs in the key of life,stevie wonder,10.0
4,in concert,nina simone,10.0
...,...,...,...
71,source tags and codes,...and you will know us by the trail of dead,10.0
72,the olatunji concert: the last live recording,john coltrane,10.0
73,kid a,radiohead,10.0
74,animals,pink floyd,10.0
75,i see a darkness,bonnie prince billy,10.0

In [34]:
reviews_df3 = pd.read_sql_query("SELECT title, artist, score FROM reviews WHERE score=10", con=engine)
pd.DataFrame(reviews_df3)

,title,artist,score
0,metal box,public image ltd,10.0
1,blood on the tracks,bob dylan,10.0
2,another green world,brian eno,10.0
3,songs in the key of life,stevie wonder,10.0
4,in concert,nina simone,10.0
...,...,...,...
71,source tags and codes,...and you will know us by the trail of dead,10.0
72,the olatunji concert: the last live recording,john coltrane,10.0
73,kid a,radiohead,10.0
74,animals,pink floyd,10.0
75,i see a darkness,bonnie prince billy,10.0

In [35]:
dbserver.commit()
dbserver.close()

### Problem 4
[Colin Mitchell](http://muffinlabs.com/) is a web-developer and artist who has a bunch of [cool projects](http://muffinlabs.com/projects.html) that play with what data can do on the internet. One of his projects is [Today in History](https://history.muffinlabs.com/), which provides an API to access all the Wikipedia pages for historical events that happened on this day in JSON format. The records in this JSON are stored in the `['data']['events']` path. Here's the first listing for today:

In [37]:
history = requests.get("https://history.muffinlabs.com/date")
history_json = json.loads(history.text)
events = history_json['data']['Events']
events[0]

{'year': '180',
 'text': 'Twelve inhabitants of Scillium (near Kasserine, modern-day Tunisia) in North Africa are executed for being Christians. This is the earliest record of Christianity in that part of the world.',
 'html': '180 - <a href="https://wikipedia.org/wiki/Scillitan_Martyrs" title="Scillitan Martyrs">Twelve inhabitants</a> of <a href="https://wikipedia.org/wiki/Scillium" title="Scillium">Scillium</a> (near Kasserine, modern-day <a href="https://wikipedia.org/wiki/Tunisia" title="Tunisia">Tunisia</a>) in North Africa are executed for being Christians. This is the earliest record of Christianity in that part of the world.',
 'no_year_html': '<a href="https://wikipedia.org/wiki/Scillitan_Martyrs" title="Scillitan Martyrs">Twelve inhabitants</a> of <a href="https://wikipedia.org/wiki/Scillium" title="Scillium">Scillium</a> (near Kasserine, modern-day <a href="https://wikipedia.org/wiki/Tunisia" title="Tunisia">Tunisia</a>) in North Africa are executed for being Christians. This is the earliest record of Christianity in that part of the world.',
 'links': [{'title': 'Scillitan Martyrs',
   'link': 'https://wikipedia.org/wiki/Scillitan_Martyrs'},
  {'title': 'Scillium', 'link': 'https://wikipedia.org/wiki/Scillium'},
  {'title': 'Tunisia', 'link': 'https://wikipedia.org/wiki/Tunisia'}]}

For this problem, you will use MongoDB and the `pymongo` library to create a local document store NoSQL database containing these historical events.

Follow the instructions in the Jupyter notebook for this module to install MongoDB and `pymongo` on your computer. Make sure the local MongoDB server is running. Then import `pymongo`, connect to the local MongoDB client, create a database named "history" and a collection within that database named "today". Insert all of the records in `events` into this collection. Then issue the following query to find all of the records whose text contain the word "Virginia":
```
query = {
    "text":{
        "$regex": 'Virginia'
    }
}
```
If there are no results that contain the word "Virginia", choose a different work like "England" or "China". Display the count of the number of documents that match this query, display the output of the query, and generate a JSON formatted variable containing the output. [3 points]

In [56]:
import pymongo

dotenv.load_dotenv()

True

In [57]:
MONGO_INITDB_ROOT_USERNAME = os.getenv('MONGO_INITDB_ROOT_USERNAME')
MONGO_INITDB_ROOT_PASSWORD = os.getenv('MONGO_INITDB_ROOT_PASSWORD')

In [58]:
myclient = pymongo.MongoClient("mongodb://localhost/", username = MONGO_INITDB_ROOT_USERNAME, password = MONGO_INITDB_ROOT_PASSWORD)
history = myclient["history"]

In [59]:
collist = history.list_collection_names()
if "Today" in collist:
  history.Today.drop()

In [60]:
Today = history["Today"]

In [63]:
allevents = Today.insert_many(events)

In [69]:
query = {
    "text":{
        "$regex": 'China'
    }
}
va = Today.find(query) 
Today.count_documents(query)

1

In [70]:
from bson.json_util import dumps, loads

In [71]:
va_text = dumps(Today.find(query))
va_records = loads(va_text)
va_records[0]

{'_id': ObjectId('6698844aae835bedf00636cd'),
 'year': '1402',
 'text': 'Zhu Di, better known by his era name as the Yongle Emperor, assumes the throne over the Ming dynasty of China.',
 'html': '1402 - Zhu Di, better known by his <a href="https://wikipedia.org/wiki/Regnal_name" title="Regnal name">era name</a> as the <a href="https://wikipedia.org/wiki/Yongle_Emperor" title="Yongle Emperor">Yongle Emperor</a>, assumes the throne over the <a href="https://wikipedia.org/wiki/Ming_dynasty" title="Ming dynasty">Ming dynasty</a> of China.',
 'no_year_html': 'Zhu Di, better known by his <a href="https://wikipedia.org/wiki/Regnal_name" title="Regnal name">era name</a> as the <a href="https://wikipedia.org/wiki/Yongle_Emperor" title="Yongle Emperor">Yongle Emperor</a>, assumes the throne over the <a href="https://wikipedia.org/wiki/Ming_dynasty" title="Ming dynasty">Ming dynasty</a> of China.',
 'links': [{'title': 'Regnal name',
   'link': 'https://wikipedia.org/wiki/Regnal_name'},
  {'title': 'Yongle Emperor',
   'link': 'https://wikipedia.org/wiki/Yongle_Emperor'},
  {'title': 'Ming dynasty',
   'link': 'https://wikipedia.org/wiki/Ming_dynasty'}]}

In [74]:
va_df = pd.DataFrame.from_records(va_records)
va_df

,_id,year,text,html,no_year_html,links
0,6698844aae835bedf00636cd,1402,"Zhu Di, better known by his era name as the Yo...","1402 - Zhu Di, better known by his <a href=""ht...","Zhu Di, better known by his <a href=""https://w...","[{'title': 'Regnal name', 'link': 'https://wik..."

In [75]:
myclient.close()

## Problem 5 [No points, no need to write anything here, but do it anyway!]
When you are done working, go to the same terminal window you used to launch the databases with `docker compose up`. Here, type CONTROL + C on your keyboard to shut down the container.

Next type
```
docker compose down
```
This step removes extra database software, networks, volumes, etc. running on your computer. If you don't need them, don't clog your computer.

Whenever you need to work with databases, return to the terminal, navigate to this folder and type
```
docker compose up
```
to bring all these resources back online.

In [1]:
# Complete