In [1]:
import numpy as np
import pandas as pd
import psycopg
from sqlalchemy import create_engine
import dotenv
import os
#import sqlite3

In [2]:
nba = pd.read_csv('ASA All NBA Raw Data.csv', low_memory=False)

In [3]:
pd.set_option('display.max_rows', 81)
nba.head(3).T

,0,1,2
game_id,202202170BRK,202202170BRK,202202170BRK
game_date,2022-02-17,2022-02-17,2022-02-17
OT,0,0,0
H_A,A,A,A
Team_Abbrev,WAS,WAS,WAS
Team_Score,117,117,117
Team_pace,94.5,94.5,94.5
Team_efg_pct,0.627,0.627,0.627
Team_tov_pct,13.5,13.5,13.5
Team_orb_pct,22.9,22.9,22.9
Team_ft_rate,0.157,0.157,0.157
Team_off_rtg,123.8,123.8,123.8
Inactives,"Joel Ayayi, Bradley Beal, Kristaps Porzingis","Joel Ayayi, Bradley Beal, Kristaps Porzingis","Joel Ayayi, Bradley Beal, Kristaps Porzingis"
Opponent_Abbrev,BRK,BRK,BRK
Opponent_Score,103,103,103
Opponent_pace,94.5,94.5,94.5
Opponent_efg_pct,0.483,0.483,0.483
Opponent_tov_pct,13.1,13.1,13.1
Opponent_orb_pct,33.3,33.3,33.3
Opponent_ft_rate,0.191,0.191,0.191
Opponent_off_rtg,109.0,109.0,109.0
player,Corey Kispert,Kyle Kuzma,Kentavious Caldwell-Pope
player_id,kispeco01,kuzmaky01,caldwke01
starter,1,1,1
mp,32:30,30:16,25:26
fg,6,2,3
fga,9,7,7
fg_pct,0.667,0.286,0.429
fg3,4,0,1
fg3a,6,3,3
fg3_pct,0.667,0.0,0.333
ft,0,1,0
fta,0,1,0
ft_pct,0.0,1.0,0.0
orb,0,0,1
drb,1,7,4
trb,1,7,5
ast,1,5,2
stl,2,1,1
blk,0,0,0
tov,2,7,1
pf,2,3,0
pts,16,5,7
plus_minus,13,10,13
did_not_play,0,0,0
is_inactive,0,0,0
ts_pct,0.889,0.336,0.5
efg_pct,0.889,0.286,0.5
fg3a_per_fga_pct,0.667,0.429,0.429
fta_per_fga_pct,0.0,0.143,0.0
orb_pct,0.0,0.0,5.4
drb_pct,3.3,24.7,16.8
trb_pct,1.8,13.9,11.8
ast_pct,4.0,18.5,9.4
stl_pct,3.1,1.7,2.0
blk_pct,0.0,0.0,0.0
tov_pct,18.2,48.5,12.5
usg_pct,15.6,22.0,14.5
off_rtg,133,55,106
def_rtg,113,107,110
bpm,3.1,-15.5,-3.8
season,2022,2022,2022
minutes,32.5,30.266667,25.433333
double_double,0,0,0
triple_double,0,0,0
DKP,23.75,19.75,18.25
FDP,22.7,16.9,18.0
SDP,24.75,17.25,18.75
DKP_per_minute,0.730769230769231,0.652533039647577,0.717562254259502
FDP_per_minute,0.698461538461538,0.558370044052863,0.707732634338139
SDP_per_minute,0.761538461538461,0.569933920704846,0.737221494102228
pf_per_minute,0.061538,0.099119,0.0
ts,9.0,7.44,7.0
last_60_minutes_per_game_starting,31.716667,34.324,29.82029
last_60_minutes_per_game_bench,22.017778,18.475954,16.051693
PG%,1.0,0.0,0.0
SG%,36.0,0.0,32.0
SF%,60.0,4.0,67.0
PF%,4.0,85.0,0.0
C%,0.0,11.0,0.0
active_position_minutes,46.253586,52.15259,47.021807

## Database Normalization
### First normal form:

1. **All tables must have a primary key**: In this table, `game_id` and `player_id` together are unique on every row, and so they form primary key.

2. **All the data must be atomic**: Inactives is non-atomic.

3. **No repeating groups problem**: We can't solve the non-atomicity problem by creating separate columns if this leads to arbitrary ordering language in the column names (for example, `Inactive1`, `Inactive2`, etc.) and if it leads to a lot of missing data (there would be an `Inactive7` which would be missing any time a team has less than 7 inactive players).

In [4]:
nba = nba.drop(['Inactives'], axis=1)

### Functional Dependence
Let X and Y be columns in a data table. Y is functionally dependent on X if each value of X has exactly one value of Y.

That's pretty abstract. So here are some guidelines that help me:

1. This use of "function" is the exact same as the concept of a function from algebra and pre-calculus. A correspondence f(x)=y is a function if each value of x has only one associated value of y.

2. X is either a primary key, or something that should be a primary key in another table.

For example, `game_date` (Y) is functionally dependent on `game_id` (X) because one `game_id` takes place on exactly one date.

### Second normal form:
In this table the primary key is a superkey consisting of two columns: `game_id` and `player_id`. 

2NF is violated if any columns are functionally dependent on part of the primary key but not the entire primary key. This can only happen if the primary key is a superkey.

In [5]:
games = nba[['game_id', 'game_date', 'OT', 'season']].drop_duplicates()
games

             game_id   game_date  OT  season
0       202202170BRK  2022-02-17   0    2022
26      202202170CHO  2022-02-17   2    2022
48      202202170LAC  2022-02-17   0    2022
71      202202170MIL  2022-02-17   0    2022
95      202202170NOP  2022-02-17   0    2022
...              ...         ...  ..     ...
108259  202001080GSW  2020-01-08   0    2020
108887  202008020HOU  2020-08-02   0    2020
109683  201911060HOU  2019-11-06   0    2020
110125  201912250GSW  2019-12-25   0    2020
110643  202002200GSW  2020-02-20   0    2020

[3197 rows x 4 columns]

In [6]:
players = nba[['player_id', 'player']].drop_duplicates()
players

        player_id                    player
0       kispeco01             Corey Kispert
1       kuzmaky01                Kyle Kuzma
2       caldwke01  Kentavious Caldwell-Pope
3        netora01                 Raul Neto
4       bryanth01             Thomas Bryant
...           ...                       ...
109702  frazimi01           Michael Frazier
110441  howarwi01            William Howard
110913  mbahalu01          Luc Mbah a Moute
111399  bowmaky01                 Ky Bowman
112021  pargoje01              Jeremy Pargo

[812 rows x 2 columns]

In [7]:
nba = nba.drop(['game_date', 'OT', 'season', 'player'], axis=1)

### Third normal form:
3NF is violated if there are "transitive dependencies", that is, functional dependence between columns when neither column is part of the primary key.

In [8]:
nba.columns

Index(['game_id', 'H_A', 'Team_Abbrev', 'Team_Score', 'Team_pace',
       'Team_efg_pct', 'Team_tov_pct', 'Team_orb_pct', 'Team_ft_rate',
       'Team_off_rtg', 'Opponent_Abbrev', 'Opponent_Score', 'Opponent_pace',
       'Opponent_efg_pct', 'Opponent_tov_pct', 'Opponent_orb_pct',
       'Opponent_ft_rate', 'Opponent_off_rtg', 'player_id', 'starter', 'mp',
       'fg', 'fga', 'fg_pct', 'fg3', 'fg3a', 'fg3_pct', 'ft', 'fta', 'ft_pct',
       'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts',
       'plus_minus', 'did_not_play', 'is_inactive', 'ts_pct', 'efg_pct',
       'fg3a_per_fga_pct', 'fta_per_fga_pct', 'orb_pct', 'drb_pct', 'trb_pct',
       'ast_pct', 'stl_pct', 'blk_pct', 'tov_pct', 'usg_pct', 'off_rtg',
       'def_rtg', 'bpm', 'minutes', 'double_double', 'triple_double', 'DKP',
       'FDP', 'SDP', 'DKP_per_minute', 'FDP_per_minute', 'SDP_per_minute',
       'pf_per_minute', 'ts', 'last_60_minutes_per_game_starting',
       'last_60_minutes_per_game_bench', 'PG%', 'SG%', 'SF%', 'PF%', 'C%',
       'active_position_minutes'],
      dtype='object')

In [9]:
team_game = nba[['game_id', 'Team_Abbrev', 'H_A', 'Team_Score', 'Team_pace',
       'Team_efg_pct', 'Team_tov_pct', 'Team_orb_pct', 'Team_ft_rate',
       'Team_off_rtg', 'Opponent_Abbrev']].drop_duplicates()
nba = nba.drop(['H_A', 'Team_Score', 'Team_pace',
       'Team_efg_pct', 'Team_tov_pct', 'Team_orb_pct', 'Team_ft_rate',
       'Team_off_rtg', 'Opponent_Abbrev',  'Opponent_Score', 'Opponent_pace',
       'Opponent_efg_pct', 'Opponent_tov_pct', 'Opponent_orb_pct',
       'Opponent_ft_rate', 'Opponent_off_rtg'], axis=1)
player_game = nba

* make all columns lowercase (for postgres)
* create ER diagram with dbdocs.io
* get postgres (and mysql, mongo though we aren't using them) running with docker
* create NBA DB with postgres
* use sqlalchemy/pandas to issue some simple SQL queries (advanced SQL on Thursday)

In [10]:
player_game.columns = [x.lower().replace('%', '_pct') for x in player_game.columns]
team_game.columns = [x.lower().replace('%', '_pct') for x in team_game.columns]
players.columns = [x.lower().replace('%', '_pct') for x in players.columns]
games.columns = [x.lower().replace('%', '_pct') for x in games.columns]

In [11]:
games.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3197 entries, 0 to 110643
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   game_id    3197 non-null   object
 1   game_date  3197 non-null   object
 2   ot         3197 non-null   int64
 3   season     3197 non-null   int64
dtypes: int64(2), object(2)
memory usage: 124.9+ KB

In [12]:
team_game

,game_id,team_abbrev,h_a,team_score,team_pace,team_efg_pct,team_tov_pct,team_orb_pct,team_ft_rate,team_off_rtg,opponent_abbrev
0,202202170BRK,WAS,A,117,94.5,0.627,13.5,22.9,0.157,123.8,BRK
13,202202170BRK,BRK,H,103,94.5,0.483,13.1,33.3,0.191,109.0,WAS
26,202202170CHO,MIA,A,111,88.8,0.471,11.1,26.8,0.147,103.4,CHO
37,202202170CHO,CHO,H,107,88.8,0.453,13.6,28.1,0.221,99.7,MIA
48,202202170LAC,HOU,A,111,103.7,0.533,15.3,24.0,0.154,107.1,LAC
...,...,...,...,...,...,...,...,...,...,...,...
112068,202002270GSW,GSW,H,86,104.8,0.481,23.6,12.2,0.113,82.1,LAL
112079,202002290PHO,GSW,A,115,98.6,0.523,9.0,28.9,0.276,116.6,PHO
112090,202003010GSW,GSW,H,110,100.2,0.522,17.4,38.3,0.191,109.8,WAS
112101,202003030DEN,GSW,A,116,94.4,0.622,10.7,12.8,0.171,122.9,DEN
112112,202003070GSW,GSW,H,118,90.9,0.606,7.0,18.9,0.263,129.9,PHI

In [13]:
dotenv.load_dotenv()
postgres_password = os.getenv('POSTGRES_PASSWORD')
postgres_password

'1inW1170814302'

In [14]:
# Connect to postgres server
dbserver = psycopg.connect(
    user = 'postgres',
    password = postgres_password,
    host = 'localhost',
    port = '5432'
)
dbserver.autocommit = True

In [15]:
# Create NBA database
cursor = dbserver.cursor()
try:
    cursor.execute('CREATE DATABASE nba')
except:
    cursor.execute('DROP DATABASE nba')
    cursor.execute('CREATE DATABASE nba')

In [16]:
# upload NBA dataframes to NBA database
dbms = 'postgresql'
connector = 'psycopg'
user = 'postgres'
password = postgres_password
host = 'localhost'
port = '5432'
database = 'nba'
engine_string = f'{dbms}+{connector}://{user}:{password}@{host}:{port}/{database}'
engine_string

'postgresql+psycopg://postgres:1inW1170814302@localhost:5432/nba'

In [17]:
engine = create_engine(engine_string)

In [18]:
player_game.to_sql('player_game', con=engine, chunksize=1000, if_exists='replace', index=False)

-113

In [19]:
player_game.shape

(112123, 60)

In [20]:
pd.read_sql_query('SELECT * FROM player_game', con=engine).shape

(112123, 60)

In [21]:
team_game.to_sql('team_game', con=engine, chunksize=1000, if_exists='replace', index=False)
players.to_sql('players', con=engine, chunksize=1000, if_exists='replace', index=False)
games.to_sql('games', con=engine, chunksize=1000, if_exists='replace', index=False)

-4

In [22]:
players.shape

(812, 2)

In [23]:
games.shape

(3197, 4)

In [24]:
team_game.shape

(6394, 11)

In [25]:
pd.read_sql_query('SELECT * FROM players', con=engine).shape

(812, 2)

In [26]:
pd.read_sql_query('SELECT * FROM games', con=engine).shape

(3197, 4)

In [27]:
pd.read_sql_query('SELECT * FROM team_game', con=engine).shape

(6394, 11)

In [28]:
myquery = '''
SELECT *
FROM player_game
WHERE pts > 60
'''
pd.read_sql_query(myquery, con=engine)

,game_id,team_abbrev,player_id,starter,mp,fg,fga,fg_pct,fg3,fg3a,...,pf_per_minute,ts,last_60_minutes_per_game_starting,last_60_minutes_per_game_bench,pg_pct,sg_pct,sf_pct,pf_pct,c_pct,active_position_minutes
0,202101030GSW,GSW,curryst01,1,36:27,18,31,0.581,8,16,...,0.000000,39.36,32.836667,16.089368,82.0,18.0,0.0,0.0,0.0,51.151069
1,202001200POR,POR,lillada01,1,45:08:00,17,37,0.459,11,20,...,0.022157,44.04,35.911905,20.859681,100.0,0.0,0.0,0.0,0.0,221.003792
2,202001200POR,POR,lillada01,1,45:08:00,17,37,0.459,11,20,...,0.022157,44.04,35.911905,20.859681,100.0,0.0,0.0,0.0,0.0,221.003792
3,202008110DAL,POR,lillada01,1,41:05:00,17,32,0.531,9,17,...,0.048682,39.92,41.463889,24.084590,100.0,0.0,0.0,0.0,0.0,205.012500
4,202008110DAL,POR,lillada01,1,41:05:00,17,32,0.531,9,17,...,0.048682,39.92,41.463889,24.084590,100.0,0.0,0.0,0.0,0.0,205.012500

## Lab 07

Who is the NBA MVP?

In [41]:
winlossmyquery = '''
SELECT
    p.player,
    pg.player_id,
    SUM(pg.pts +
    pg.fg3 +
    -1*pg.fga +
    2*pg.fg +
    pg.ft +
    -1*pg.fta +
    pg.trb +
    2*pg.ast +
    4*pg.blk +
    4*pg.stl +
    -2*pg.tov) AS mvp_points
    FROM player_game pg
INNER JOIN games g
    ON pg.game_id = g.game_id
INNER JOIN players p
    ON pg.player_id = p.player_id
WHERE g.season=2022
GROUP BY p.player, pg.player_id
ORDER BY mvp_points DESC
LIMIT 10
'''

pd.read_sql_query(myquery, con=engine)
# inner join (delete all unmatched rows)
# full join (keep all rows but create missing data for unmatched rows), 
# left join (keep all rows from table from FROM, delete rows from table after join)
# right join (keep all rows from table after jion, delete rows from table after from), 
# natural (the same as the four above except infer ON should be from shared column names, dont do this)

                  player  player_id  mvp_points
0           Nikola Jokic  jokicni01      3082.0
1  Giannis Antetokounmpo  antetgi01      2718.0
2        Dejounte Murray  murrade01      2637.0
3             Chris Paul   paulch01      2605.0
4             Trae Young  youngtr01      2491.0
5          Stephen Curry  curryst01      2469.0
6            Joel Embiid  embiijo01      2427.0
7          DeMar DeRozan  derozde01      2411.0
8     Karl-Anthony Towns  townska01      2391.0
9           Jayson Tatum  tatumja01      2376.0

In [50]:
# win/loss record in 2021-2022

myquery = '''
SELECT t.game_id,
    t.team_abbrev,
    t.opponent_abbrev,
    t.team_score,
    s.team_score AS opponent_score,
    SUM(
    CAST (t.team_score > s.team_score as INT)
    ) AS win,
    SUM(
        CAST (t.team_score < s.team_score AS INT)
    ) AS loss
    FROM team_game t
INNER JOIN team_game s
    ON t.game_id=s.game_id 
        AND t.team_abbrev = s.opponent_abbrev 
INNER JOIN games g
    ON t.game_id = g.game_id
WHERE g.season = 2022
GROUP BY t.team_abbrev
'''

pd.read_sql_query(myquery, con=engine)

ProgrammingError: (psycopg.errors.GroupingError) column "t.game_id" must appear in the GROUP BY clause or be used in an aggregate function
LINE 2: SELECT t.game_id,
               ^
[SQL:
SELECT t.game_id,
    t.team_abbrev,
    t.opponent_abbrev,
    t.team_score,
    s.team_score AS opponent_score,
    SUM(
    CAST (t.team_score > s.team_score as INT)
    ) AS win,
    SUM(
        CAST (t.team_score < s.team_score AS INT)
    ) AS loss
    FROM team_game t
INNER JOIN team_game s
    ON t.game_id=s.game_id
        AND t.team_abbrev = s.opponent_abbrev
INNER JOIN games g
    ON t.game_id = g.game_id
WHERE g.season = 2022
GROUP BY t.team_abbrev
]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
# winning percentage
winloss


myquery = '''
SELECT
    CAST(win as FLOAT) / (CAST win as FLOAT) + CAST(loss AS FLOAT) AS percentage
    FROM (SELEcT t.team_abbrev),
    SUM (
        CAST(t.team_score > s.team_score as INT)
    ) AS win,
    SUM(
        CAST(t.team_score < s.team_score AS INT)
    ) AS loss
    FROM team_game t
    INNER JOIN team_game s
        ON t.game_
'''

pd.read_sql_query(myquery, con=engine)

In [62]:
# REVENGE
# all players who improved their points per game average by at least 5 points between 2020-2021 to 2021-2022

In [77]:
myquery = '''
SELECT p.player,
    pg.player_id,
    AVG(pg.pts) AS ppg2021
    FROM player_game pg
INNER JOIN games g
    ON pg.game_id = g.game_id
INNER JOIN players p
    ON pg.player_id = p.player_id
WHERE g.season=2021
GROUP BY p.player, pg.player_id
ORDER BY ppg2021 DESC
'''

pd.read_sql_query(myquery, con=engine)

                    player  player_id    ppg2021
0            Stephen Curry  curryst01  29.041667
1             Bradley Beal   bealbr01  28.819444
2           Damian Lillard  lillada01  28.078947
3    Giannis Antetokounmpo  antetgi01  27.988095
4              Luka Doncic  doncilu01  27.733333
..                     ...        ...        ...
570         Omari Spellman  spellom01   0.000000
571       Greg Whittington  whittgr01   0.000000
572            Will Magnay  magnawi01   0.000000
573       Anzejs Pasecniks  pasecan01   0.000000
574         Jonathan Isaac  isaacjo01   0.000000

[575 rows x 3 columns]

In [78]:
myquery2022 = '''
SELECT p.player,
    pg.player_id,
    AVG(pg.pts) AS ppg2022
    FROM player_game pg
INNER JOIN games g
    ON pg.game_id = g.game_id
INNER JOIN players p
    ON pg.player_id = p.player_id
WHERE g.season=2022
GROUP BY p.player, pg.player_id
ORDER BY ppg2022 DESC
'''

pd.read_sql_query(myquery2022, con=engine)

                    player  player_id    ppg2022
0             Kevin Durant  duranke01  29.250000
1              Joel Embiid  embiijo01  28.957447
2    Giannis Antetokounmpo  antetgi01  28.860000
3            DeMar DeRozan  derozde01  28.127273
4               Trae Young  youngtr01  27.830189
..                     ...        ...        ...
634               Jay Huff   huffja01   0.000000
635             Cat Barber  barbeca01   0.000000
636          Jason Preston  prestja01   0.000000
637   Marcos Louzada Silva  louzama01   0.000000
638          DeJon Jarreau  jarrede01   0.000000

[639 rows x 3 columns]

In [79]:
myquery1 = f'''
SELECT a.player, 
    b.ppg2021,
    a.ppg2022,
    (a.ppg2022 - b.ppg2021) AS difference
    FROM ({myquery2022}) a
INNER JOIN({myquery}) b
    ON a.player_id = b.player_id
WHERE (a.ppg2022 - b.ppg2021) > 5
ORDER BY difference DESC
'''

pd.read_sql_query(myquery1, con=engine)

               player    ppg2021    ppg2022  difference
0     Anfernee Simons   7.118421  16.962264    9.843843
1        Tyrese Maxey   6.714286  16.264151    9.549865
2        Desmond Bane   8.815789  17.857143    9.041353
3       DeMar DeRozan  19.362319  28.127273    8.764954
4        Jusuf Nurkic   6.618421  14.771930    8.153509
5          Trey Lyles   2.555556   9.925926    7.370370
6   Spencer Dinwiddie   5.000000  12.347826    7.347826
7       Miles Bridges  12.880597  20.017241    7.136644
8           Ja Morant  20.142857  26.804348    6.661491
9    Garrison Mathews   4.789474  11.439024    6.649551
10          Max Strus   3.420290  10.060000    6.639710
11      Devin Vassell   5.119403  11.529412    6.410009
12        Tyler Herro  11.671233  18.039216    6.367983
13       JaVale McGee   3.632479   9.942308    6.309829
14      Nassir Little   3.515625   9.761905    6.246280
15         Wes Iwundu   1.414286   7.333333    5.919048
16         Wes Iwundu   1.414286   7.333333    5.919048
17      Wesley Iwundu   1.414286   7.333333    5.919048
18      Wesley Iwundu   1.414286   7.333333    5.919048
19        CJ McCollum  15.727273  21.487805    5.760532
20      Javonte Green   2.147059   7.642857    5.495798
21       Jordan Poole  10.864407  16.358491    5.494084
22        Amir Coffey   2.100000   7.462963    5.362963
23       Caleb Martin   3.726027   9.065217    5.339190
24       Bobby Portis  10.219780  15.333333    5.113553
25     Darius Garland  15.177419  20.276596    5.099176
26     Onyeka Okongwu   3.631579   8.653846    5.022267
27     Gary Payton II   1.785714   6.803571    5.017857
28        Gary Payton   1.785714   6.803571    5.017857
29     Gary Payton II   1.785714   6.803571    5.017857
30        Gary Payton   1.785714   6.803571    5.017857